@model Student

@*<h5>@Model.FirstName </h5>
<h5>@Model.LastName </h5>
<h5>@Model.NumberGroup </h5>*@


<tr>
    <th scope="row">@Model.FirstName</th>
    <td>@Model.LastName</td>
    <td>@Model.NumberGroup</td>
